*{
  box-sizing: border-box;
}
header {
  background-color: rgb(0, 54, 108);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
h3 {
  text-align: center;
  margin: auto;
  font-size: 5rem;
}
main {
  background-color:light gray;
}
body {
  background-color:light gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
main > section {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
}
section {
  border: 3px solid rgb(0, 255, 166);
  display: inline-block;
  width: 172px;
}

main img {
  margin-bottom: 30px;
}
footer {
  background-color: rgba(0, 128, 128, 0.325);
  height: 100px;
}
article {
  border: 3px solid rgb(0, 19, 128);
  text-align: center;
  margin: auto;

}
article section {

}
table, td, th {
  border: 1px solid rgb(112, 159, 165);
}
table {
  margin: auto;
  text-align: center;
  margin-top: 30px;
}
td, th {
  padding: 1rem;
}
th {
  font-weight: bold;
}
tfoot {
  background-color: rgba(112, 159, 165, .1);
}